body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#646464;
    background-size:16px 16px;
}

#canvas {
    display: flex;
    border: 5px solid black;
    background-color: #fff;
}

header {
    display: flex;
    background-color: red;
}

header a {
    text-decoration: none;
    font-size: 30px;
}


